*{
    padding:0px;
    margin: 0px;
}
.image{
    height:220px;
    width:400px;
    background-color: antiquewhite;
    background-image: none;
    background-size: cover;
    margin:5px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.container{
    width:100vw;
    height:100vh;
    background-color: #1E201E;
    display:flex;
    padding:47px;
}
.dropDown{
    background-color: #2a2b28;
    /* display: inline; */
    width:300px;
    height:100px;
    margin:15px;
    margin-left:300px;
    border-radius:5px;
}
.description{
    background-color: #2a2b28;
    /* display: inline; */
    width:420px;
    height:550px;
    margin:20px;
    color:#ECDFCC;
    padding:20px;
    backdrop-filter: blur(20px);
    border-radius: 5px;
}
p{
    font-size:20px;
    color:#ECDFCC;
    margin:10px 0 10px 35px;
}
.cars{
    font-size:20px;
    margin:0 0 10px 35px;
    background-color: #ECDFCC;
    border-radius: 3px;
    text-align: center;
    padding:5px;
}
.name{
    font-size:30px;
    text-align: center;
}
.content{
    font-size:23px;
}